@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
.todo-header{
  text-align: center;
  color: black;
  font-family: 'Baloo Bhai 2', cursive;
  margin-top: 30px;
} 

.todo-main{
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 35%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(159, 223, 223);
  box-shadow: 10px 10px 20px -3px  rgb(42, 26, 26);
  /* font-family:sans-serif; */
}
.close-icon {
  margin-left: 10px;
  font-size: 22px;
  cursor: pointer;
}

.todo-items {
  display: flex;
  flex-direction: row;

}

.todo-item {
  font-size: 20px;
  text-transform: capitalize;
}
.conv{
  margin-top: -12px;
}